@charset "UTF-8";
/**
 * @category    Scandishop
 * @package     Scandishop/themeScandi
 * @author      Aina Tomsone <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Inc (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
/**
 * @category    Scandishop
 * @package     Scandishop/themeScandi
 * @author      Aina Tomsone <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Inc (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
@import url("https://fonts.googleapis.com/css?family=Niramit|Open+Sans");
@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';
/**
 * @category    Scandishop
 * @package     Scandishop/themeScandi
 * @author      Aina Tomsone <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Inc (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/**
 * @category    Scandishop
 * @package     Scandishop/themeScandi
 * @author      Aina Tomsone <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Inc (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
.cms-delivery body {
  font-family: 'Niramit', sans-serif;
  line-height: 20px;
  font-size: 20px; }

.cms-delivery .wrap {
  width: calc(100% - 50px);
  margin: 0 auto; }

.cms-delivery .margin-right-5 {
  margin-right: 5%; }

.cms-delivery .baseText {
  font-family: 'Niramit', sans-serif;
  color: #a6a4a3;
  font-size: 14px;
  line-height: 16px; }

.cms-delivery .small-title {
  font-weight: 800;
  font-size: 14px; }

.cms-delivery .h3-subtitle {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 16px;
  color: lightblue; }

.cms-delivery .quote {
  position: relative;
  color: #30af00;
  font-size: 14px;
  font-family: Font Awesome\ 5 Free; }
  .cms-delivery .quote:before {
    border-top: 2px solid #30af00;
    width: 30px;
    position: absolute;
    left: -50px;
    top: 10px; }

.cms-delivery .delivery-table,
.cms-delivery .table-cell,
.cms-delivery .table-row {
  border: 1px solid #cecdcc; }

.cms-delivery .delivery-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  /**
    * Last row starting from 2 cell
    */
  /**
    * First row
    */ }
  .cms-delivery .delivery-table .table-cell {
    /**
      * First Column
      */
    /**
      * Everything starting at 2 column
      */ }
    .cms-delivery .delivery-table .table-cell:first-of-type {
      text-align: left;
      padding: 1% 0 1% 3%;
      word-wrap: break-word;
      overflow-wrap: break-word;
      /* Renamed property in CSS3 draft spec */ }
    .cms-delivery .delivery-table .table-cell:not(:first-child) {
      text-align: center; }
  .cms-delivery .delivery-table .table-row:last-child .table-cell:not(:first-child) {
    padding: 1% 5%; }
  .cms-delivery .delivery-table .table-row:first-child {
    background: #e0e0e0;
    font-weight: 600; }

.cms-delivery .delivery {
  display: flex;
  flex-direction: column; }
  .cms-delivery .delivery .delivery-side-left {
    float: right;
    display: flex;
    flex-direction: column; }
    .cms-delivery .delivery .delivery-side-left .delivery-single-left {
      background: red;
      display: flex;
      flex-direction: row; }
      .cms-delivery .delivery .delivery-side-left .delivery-single-left .delivery-icons {
        text-align: center; }
  .cms-delivery .delivery .delivery-side-right {
    float: left;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .cms-delivery .delivery .delivery-side-right .delivery-single-right {
      background: blue;
      display: flex;
      flex-direction: row; }
      .cms-delivery .delivery .delivery-side-right .delivery-single-right .delivery-info {
        display: flex;
        flex-direction: row; }
  .cms-delivery .delivery .delivery-icons {
    background: pink;
    width: 10%;
    color: #001e71; }
    .cms-delivery .delivery .delivery-icons .fas {
      font-size: 16px; }
  .cms-delivery .delivery .delivery-info {
    width: 90%;
    color: #a6a4a3;
    font-size: .7rem; }
    .cms-delivery .delivery .delivery-info .delivery-info-title {
      font-weight: 600;
      padding: 0 4%;
      line-height: 16px; }

.cms-delivery .halfAnHalf {
  display: flex;
  flex-direction: column; }

.cms-delivery .half-Width {
  width: 100%; }

.cms-delivery .cds {
  display: block; }

.cms-delivery .flexbox-grow-1 {
  flex-grow: 1; }

.cms-delivery .img-width-cds {
  padding-top: 10%;
  width: 100%; }

@media (min-width: 576px) {
  .cms-delivery .half-Width {
    width: 100%; }
  .cms-delivery .delivery-table {
    /**
    *First column
    */ }
    .cms-delivery .delivery-table .table-cell:first-of-type {
      padding: 1% 6% 1% 3%; }
  .cms-delivery .quote:before {
    left: -50px; } }

@media (min-width: 767px) {
  .cms-delivery .half-Width {
    width: 50%; }
  .cms-delivery .halfAnHalf {
    display: flex;
    flex-direction: row; }
  .cms-delivery .cds {
    display: flex;
    flex-direction: row; }
    .cms-delivery .cds .cds-image {
      max-width: none; }
  .cms-delivery .quote:before {
    width: 40px;
    left: -50px; }
  .cms-delivery .delivery-table {
    /**
    *First column
    */ }
    .cms-delivery .delivery-table .table-cell:first-of-type {
      background: #000;
      padding: 1% 11% 1% 3%; }
  .cms-delivery .delivery {
    display: flex;
    flex-direction: row; }
    .cms-delivery .delivery .delivery-side-left {
      float: right;
      display: flex;
      flex-direction: column; }
      .cms-delivery .delivery .delivery-side-left .delivery-single-left {
        display: flex;
        flex-direction: row; }
        .cms-delivery .delivery .delivery-side-left .delivery-single-left .delivery-icons {
          text-align: center;
          font-size: 1rem; }
    .cms-delivery .delivery .delivery-side-right:last-of-type {
      float: left;
      display: flex;
      flex-direction: row; }
      .cms-delivery .delivery .delivery-side-right:last-of-type .delivery-single-right {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto; }
        .cms-delivery .delivery .delivery-side-right:last-of-type .delivery-single-right .delivery-icons {
          text-align: center;
          font-size: 1rem;
          padding-bottom: 3%;
          margin: 0 auto; }
        .cms-delivery .delivery .delivery-side-right:last-of-type .delivery-single-right .delivery-info {
          display: flex;
          flex-direction: column; }
          .cms-delivery .delivery .delivery-side-right:last-of-type .delivery-single-right .delivery-info .delivery-info-title {
            padding-bottom: 8%; } }

@media (min-width: 1024px) {
  .cms-delivery .baseText {
    font-size: .9rem;
    line-height: 1.3rem; }
  .cms-delivery .quote:before {
    width: 40px;
    left: -50px; }
  .cms-delivery .cds {
    display: flex;
    flex-direction: row; }
    .cms-delivery .cds .cds-image {
      max-width: none; } }

@media (min-width: 1200px) {
  .cms-delivery .quote .quote-paragraph {
    font-size: 1rem; }
  .cms-delivery .quote:before {
    width: 50px;
    left: -60px; }
  .cms-delivery .baseText {
    font-size: 1rem;
    line-height: 1.5rem; }
  .cms-delivery .small-title {
    font-size: 1rem; } }

/**
 * @category    Scandishop
 * @package     Scandishop/themeScandi
 * @author      Aina Tomsone <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Inc (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
.catalog-product-view .page-wrapper .page-main {
  padding-left: 40px; }

.catalog-product-view .columns .column.main .block.related .block-title {
  margin-bottom: 35px;
  text-align: center;
  font-family: 'Niramit', sans-serif; }
  .catalog-product-view .columns .column.main .block.related .block-title #block-related-heading {
    font-size: 26px;
    font-weight: 100;
    color: #878787; }

.catalog-product-view .products.wrapper {
  width: calc(100% - 70px);
  height: 450px;
  margin: 0 auto; }
  .catalog-product-view .products.wrapper .list.items.product-items {
    width: calc(100% - 10px);
    height: calc(100% - 75px);
    margin: 0 auto; }
    .catalog-product-view .products.wrapper .list.items.product-items .slick-dots {
      bottom: -75px; }
      .catalog-product-view .products.wrapper .list.items.product-items .slick-dots li {
        margin: 0px 0 16px 0; }
        .catalog-product-view .products.wrapper .list.items.product-items .slick-dots li button:before {
          font-size: 9px; }
    .catalog-product-view .products.wrapper .list.items.product-items .slick-next,
    .catalog-product-view .products.wrapper .list.items.product-items .slick-prev {
      font-size: 16px;
      height: calc(100% - 250px);
      z-index: 100;
      outline: none;
      box-shadow: none;
      border: none; }
      .catalog-product-view .products.wrapper .list.items.product-items .slick-next:before,
      .catalog-product-view .products.wrapper .list.items.product-items .slick-prev:before {
        font-family: Font Awesome\ 5 Free;
        font-size: 60px;
        font-style: normal;
        color: #a6a4a3; }
    .catalog-product-view .products.wrapper .list.items.product-items .slick-next {
      right: -15px; }
      .catalog-product-view .products.wrapper .list.items.product-items .slick-next:before {
        content: '\f105'; }
    .catalog-product-view .products.wrapper .list.items.product-items .slick-prev {
      left: -40px; }
      .catalog-product-view .products.wrapper .list.items.product-items .slick-prev:before {
        content: '\f104'; }
    .catalog-product-view .products.wrapper .list.items.product-items .slick-list {
      height: calc(100% - 10px); }
      .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track {
        height: 100%;
        left: -15px; }
        .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide {
          height: calc(100% - 10px);
          margin-right: 10px;
          width: 100%; }
          .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide div {
            height: 100%; }
            .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide div .product-item {
              height: calc(100%); }
              .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide div .product-item .product-item-info {
                width: 100%;
                height: 100%;
                border: 1px solid #a6a4a3;
                text-align: center;
                margin: 0 auto; }
                .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide div .product-item .product-item-info .product-item-photo {
                  height: 65%;
                  display: block; }
                .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide div .product-item .product-item-info .product-item-details {
                  display: flex;
                  flex-direction: column;
                  padding: 0 20px 20px 28px;
                  height: 35%; }
                  .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide div .product-item .product-item-info .product-item-details .product-item-name {
                    text-align: left;
                    height: calc(100% /4);
                    margin: 35px 0 0 0; }
                    .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide div .product-item .product-item-info .product-item-details .product-item-name .product-item-link {
                      font-size: 16px;
                      display: block;
                      font-weight: 600; }
                  .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide div .product-item .product-item-info .product-item-details .price-box {
                    text-align: left;
                    height: calc(100% /4);
                    margin: 0; }
                    .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide div .product-item .product-item-info .product-item-details .price-box .price-container {
                      display: block;
                      margin: -10px 0 0 0; }
                      .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide div .product-item .product-item-info .product-item-details .price-box .price-container .price {
                        font-size: 20px;
                        color: #878787; }
                  .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide div .product-item .product-item-info .product-item-details .product-stock-status {
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    height: calc(100% /4); }
                    .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide div .product-item .product-item-info .product-item-details .product-stock-status .stock {
                      text-transform: uppercase;
                      font-size: 12px;
                      padding-top: 5px;
                      color: #30af00; }
                    .catalog-product-view .products.wrapper .list.items.product-items .slick-list .slick-track .slick-slide div .product-item .product-item-info .product-item-details .product-stock-status .in-stock-icon {
                      margin: 0 6px 0 0; }

@media (min-width: 767px) {
  .slick-next {
    right: 15px; } }

@media (min-width: 1024px) {
  .products.wrapper {
    width: calc(100% - 70px); }
  .list.items.product-items {
    width: calc(100% - 10px);
    height: calc(100% - 75px);
    margin: 0 auto; }
  .slick-prev {
    left: -30px; } }

.locator-locations-index .page-wrapper {
  text-align: left;
  padding-top: 10px;
  margin: 20px; }
  .locator-locations-index .page-wrapper .page-main {
    max-width: unset; }
    .locator-locations-index .page-wrapper .page-main .page-title-wrapper .base {
      font-weight: 400;
      color: #6d6666; }

h1.page-title {
  margin-bottom: 10px; }

/*map*/
#mapid {
  height: calc(80vh);
  width: 50%; }

.locations-wrapper {
  width: 100%;
  display: flex; }

.block-locations {
  width: 50%;
  margin-right: 20px;
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden; }

.location {
  border-bottom: 2px solid #cacaca;
  padding: 0 10px;
  margin-bottom: 30px; }
  .location .store-title {
    color: #6d6666;
    font-weight: 400;
    text-align: center;
    font-size: 18px; }
  .location .store-address {
    font-size: 13px;
    text-align: center;
    margin-bottom: 16px; }

.working-hours {
  font-size: 11px; }

.working-hours .working-hours-title,
.leaflet-popup-content .popup-working-hours .popup-working-hours-title {
  display: flex; }

.working-hours .working-hours-title .title-days,
.working-hours .working-hours-title .title-hours {
  flex-grow: 1;
  text-align: center;
  border-bottom: 1px solid #e6e6e6; }

.working-hours .working-hours-day {
  display: flex;
  margin: 5px 0; }

.working-hours .working-hours-day .wh-day,
.working-hours .working-hours-day .wh-time {
  width: 50%;
  margin-left: 5px; }

.popup-working-hours-title .popup-title-days,
.popup-working-hours-title .popup-title-hours {
  flex-grow: 1;
  text-align: center;
  border-bottom: 1px solid #e6e6e6; }

.leaflet-popup-content-wrapper {
  width: 170px; }
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 13px auto; }
    .leaflet-popup-content-wrapper .leaflet-popup-content .popup-store-title {
      color: #6d6666;
      font-weight: 600;
      text-align: center;
      font-size: 13px;
      margin: 0 0 5px 0; }
    .leaflet-popup-content-wrapper .leaflet-popup-content .popup-store-address {
      text-align: center;
      margin-bottom: 5px; }

.popup-working-hours {
  font-size: 9px; }
  .popup-working-hours .popup-working-hours-day {
    display: flex; }

.popup-wh-day, .popup-wh-time {
  width: 50%;
  padding: 1px;
  margin-left: 15px; }

.disp-block {
  display: block; }

/*Use this in js to bind the marker with the location*/
@media (min-width: 576px) {
  .block-locations {
    font-size: 22px; }
  .location .store-address {
    font-size: 15px; }
  .working-hours {
    font-size: 16px; }
  .popup-wh-day, .popup-wh-time {
    margin-left: 25px; }
  .leaflet-popup-content-wrapper {
    width: 220px; }
  .leaflet-popup-content .popup-store-title {
    font-size: 15px; }
  .popup-working-hours {
    font-size: 12px; } }

@media (min-width: 767px) {
  .block-locations {
    width: 30%; }
  #mapid {
    width: 70%; } }

@media (min-width: 1024px) {
  .block-locations {
    width: 20%; }
  #mapid {
    width: 80%; }
  .leaflet-popup-content-wrapper {
    width: 270px; }
  .leaflet-popup-content .popup-store-title {
    font-size: 18px; }
  .leaflet-popup-content .popup-store-address {
    font-size: 14px; }
  .popup-working-hours {
    font-size: 15px; } }
