<!-- /**
 * @category    Scandishop
 * @package     Scandishop/themeScandi
 * @author      Aina Tomsone <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Inc (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */-->
<?php
/** @var Locator\StoreLocator\Block\Locations\Index $block */
$arr = $block->getAllLocations();
?>
<div class="locations-wrapper">
    <div class="block-locations" id="blockLocation">
    </div>
    <div data-mage-init='{"locationMap":{"data":[<?= $block->getAllLocations(); ?>]}}' id="mapid"></div>
</div>
