/**
 * @category    Scandishop
 * @package     Scandishop/themeScandi
 * @author      Aina Tomsone <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Inc (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
.cms-delivery{
  body {
    @include font(niramit);
    line-height: 20px;
    font-size: 20px;
  }

  .wrap {
    width: calc(100% - 50px);
    margin: 0 auto;
  }

  .margin-right-5 {
    margin-right: 5%;
  }

  .baseText {
    @include font(niramit);
    color: $lightGrey;
    font-size: 14px;
    line-height: 16px;
  }

  .small-title {
    font-weight: 800;
    font-size: 14px;
  }

  .h3-subtitle {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 16px;
    color: lightblue;
  }

  .quote {
    position: relative;
    color: $limeGreen;
    font-size: 14px;
    @include font(awesome);

    &:before {
      border-top: 2px solid $limeGreen;
      width:30px;
      position: absolute;
      left:- 50px;
      top:10px;
    }
  }

  .delivery-table,
  .table-cell,
  .table-row {
    border: 1px solid $tableHeader-Grey;
  }

  .delivery-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    .table-cell {
      /**
      * First Column
      */
      &:first-of-type {
        text-align: left;
        //padding:1% 11% 1% 3%;
        padding: 1% 0 1% 3%;
        word-wrap: break-word;
        overflow-wrap: break-word; /* Renamed property in CSS3 draft spec */
      }

      /**
      * Everything starting at 2 column
      */
      &:not(:first-child) {
        text-align: center;
      }
    }

    /**
    * Last row starting from 2 cell
    */
    .table-row:last-child .table-cell:not(:first-child) {
      padding: 1% 5%;
    }

    /**
    * First row
    */
    .table-row:first-child {
      background: $tableCell-Grey;
      font-weight: 600;
    }
  }

  .delivery {
    @include display(flexCol);

    .delivery-side-left{
      float: right;

      @include display(flexCol);

      .delivery-single-left {
        background:red;
        @include display(flexRow);

        .delivery-icons {
          text-align: center;

        }
      }
    }

    .delivery-side-right {
      float: left;

      @include display(flexCol);
      text-align: center;
      .delivery-single-right {
        background:blue;
        @include display(flexRow);

        .delivery-info {
          @include display(flexRow);
        }
      }
    }

    .delivery-icons {
      background:pink;
      width: 10%;
      color: $blue;
      .fas{
        font-size: 16px;
      }
    }

    .delivery-info {
      width: 90%;
      color: $lightGrey;
      font-size: .7rem;

      .delivery-info-title {
        font-weight: 600;
        padding: 0 4%;
        line-height: 16px;
      }
    }
  }


  .halfAnHalf {
    @include display(flexCol);
  }

  .half-Width {
    width: 100%;
  }

  .cds {
    @include display(block);
  }

  .flexbox-grow-1 {
    flex-grow: 1;
  }

  .img-width-cds {
    padding-top: 10%;
    width: 100%;
  }

@include breakpoint(sm) {
  .half-Width {
    width: 100%;
  }
  .delivery-table {
    /**
    *First column
    */
    .table-cell:first-of-type {
      padding: 1% 6% 1% 3%;
    }
  }
  .quote {
    &:before {
      left: -50px;
    }
  }
}

@include breakpoint(md) {
  .half-Width {
    width: 50%;
  }
  .halfAnHalf {
    @include display(flexRow);
  }
  .cds {
    @include display(flexRow);

    .cds-image {
      max-width: none;
    }
  }
  .quote{
    &:before {
      width:40px;
      left: -50px;
    }
  }

  .delivery-table {
    /**
    *First column
    */
    .table-cell:first-of-type {
      background: #000;
      padding: 1% 11% 1% 3%;
    }
  }
  .delivery {
    @include display(flexRow);

    .delivery-side-left {
      float: right;
      @include display(flexCol);

      .delivery-single-left {
        @include display(flexRow);

        .delivery-icons {
          text-align: center;
          font-size: 1rem;
        }
      }
    }

    .delivery-side-right:last-of-type {
      float: left;
      @include display(flexRow);

      .delivery-single-right {
        @include display(flexCol);
        text-align: center;
        margin: 0 auto;

        .delivery-icons {
          text-align: center;
          font-size: 1rem;
          padding-bottom: 3%;
          margin: 0 auto;
        }

        .delivery-info {
          @include display(flexCol);

          .delivery-info-title {
            padding-bottom: 8%;
          }
        }
      }
    }
  }
}

@include breakpoint(lg) {
  //text
  .baseText {
    font-size: .9rem;
    line-height: 1.3rem;
  }
  .quote{
    &:before {
      width:40px;
      left: -50px;
    }
  }
  //blocks
  .cds {
    @include display(flexRow);

    .cds-image {
      max-width: none;
    }
  }
}

@include breakpoint(xl) {
  //text

  .quote{
    .quote-paragraph{
      font-size: 1rem;
    }
    &:before {
      width:50px;
      left: -60px;
    }
  }
  .baseText {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .small-title {
    font-size: 1rem;
  }
}
}


