/**
 * @category    Scandishop
 * @package     Scandishop/themeScandi
 * @author      Aina Tomsone <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Inc (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
@mixin breakpoint($breakpoint) {
  @if $breakpoint == xs{
    @media (min-width:$screen-xs-min) { @content };
  }
  @if $breakpoint == sm {
    @media (min-width: $screen-sm-min) { @content };
  }
  @if $breakpoint == md{
    @media (min-width: $screen-md-min) { @content };
  }
  @if $breakpoint == lg {
    @media (min-width: $screen-lg-min) { @content };
  }
  @if $breakpoint == xl{
    @media (min-width: $screen-xl-min) { @content };
  }
}

@mixin  display($type){
  @if $type == flexRow{
    display: flex;
    flex-direction: row;
  }
  @if $type == flexCol{
    display:flex;
    flex-direction:column;
  }
  @if $type == block{
    display:block;
  }
  @if $type == inline{
    display:inline;
  }
  @if $type == inlineBlock{
    display:inline-block;
  }
}

@mixin  font($var) {
  @if $var == awesome {
    font-family: Font Awesome\ 5 Free;
  }
  @if $var == niramit {
  font-family: 'Niramit', sans-serif;
  }
}