/**
 * @category    Scandishop
 * @package     Scandishop/themeScandi
 * @author      Aina Tomsone <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Inc (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
.catalog-product-view{
  .page-wrapper .page-main{
    padding-left: 40px;
  }

  .columns{
    .column.main {
      .block.related{
        .block-title{
          margin-bottom: 35px;
          text-align: center;
          @include font(niramit);

          #block-related-heading{
            font-size: 26px;
            font-weight: 100;
            color:$darkGrey;
          }
        }
      }
    }
  }

 .products.wrapper {
   width:calc(100% - 70px);
   height: 450px;
   margin: 0 auto;

   .list.items.product-items {
     width:calc(100% - 10px);
     height: calc(100% - 75px);
     margin: 0 auto;

     .slick-dots{
       bottom: -75px;

       li {
         margin: 0px 0 16px 0;

         button {
           &:before {
             font-size: 9px;
           }
         }
       }
     }

     .slick-next,
     .slick-prev{
       font-size: 16px;
       height: calc(100% - 250px);
       z-index: 100;
       outline: none;
       box-shadow: none;
       border:none;

       &:before{
         @include font(awesome);
         font-size:60px;
         font-style: normal;
         color: $lightGrey;
       }
     }
     .slick-next {
       right: -15px;

       &:before {
         content: '\f105';
       }
     }

     .slick-prev {
       left: -40px;

       &:before {
         content: '\f104';
       }
     }

     .slick-list {
       height: calc(100% - 10px);

       .slick-track {
         height: 100%;
         left: -15px;

         .slick-slide {
           height: calc(100% - 10px);
           margin-right: 10px;
           width: 100%;

           div {
             height: 100%;

             .product-item {
               height: calc(100%);

               .product-item-info {
                 width: 100%;
                 height: 100%;
                 border: 1px solid $lightGrey;
                 text-align: center;
                 margin: 0 auto;

                 .product-item-photo {
                   height: 65%;
                   display: block;
                 }

                 .product-item-details {
                   display: flex;
                   flex-direction: column;
                   padding: 0 20px 20px 28px;
                   height:35%;

                   .product-item-name {
                     text-align: left;
                     height: calc(100% /4);
                     margin: 35px 0 0 0;

                     .product-item-link {
                       font-size: 16px;
                       display: block;
                       font-weight: 600;
                     }
                   }

                   .price-box {
                     text-align: left;
                     height: calc(100% /4);
                     margin:0;

                     .price-container {
                       display: block;
                       margin: -10px 0 0 0;

                         .price {
                           font-size: 20px;
                           color: $darkGrey;
                         }
                     }
                   }

                   .product-stock-status {
                     margin: 0;
                     padding: 0;
                     text-align: left;
                     height: calc(100% /4);


                     .stock {
                       text-transform: uppercase;
                       font-size: 12px;
                       padding-top: 5px;
                       color: $limeGreen;
                     }

                     .in-stock-icon {
                       margin: 0 6px 0 0;
                     }
                   }
                 }
               }
             }
           }
         }
       }
     }
   }
 }
}
@include breakpoint(md) {

  .slick-next {
    right: 15px;
  }
}
@include breakpoint(lg) {

  .products.wrapper {
    width:calc(100% - 70px);
  }

  .list.items.product-items {
    width: calc(100% - 10px);
    height: calc(100% - 75px);
    margin: 0 auto;
  }

  .slick-prev {
    left: -30px;
  }
}