/**
 * @category    Scandishop
 * @package     Scandishop/themeScandi
 * @author      Aina Tomsone <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Inc (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
//COLOR VARS
$limeGreen: rgb(48, 175, 0);
$red: rgb(191, 10, 5);
$black: rgb(0, 0, 0);
$purple: rgb(74, 21, 53);
$blue: rgb(0, 30, 113);
$lightGrey:rgb(166, 164, 163);
$tableHeader-Grey:rgb(206, 205, 204);
$tableCell-Grey:rgb(224, 224, 224);
$darkGrey: rgb(135, 135, 135);
$deepGrey: rgb(83, 83, 83);
//px FOR MIXINS
$screen-xs-min: 425px;
$screen-sm-min: 576px;
$screen-md-min: 767px;
$screen-lg-min: 1024px;
$screen-xl-min: 1200px;