.locator-locations-index .page-wrapper {
  text-align: left;
  padding-top: 10px;
  margin: 20px;

  .page-main {
    max-width: unset;

    .page-title-wrapper .base {
      font-weight: 400;
      color: #6d6666;
    }
  }
}

h1.page-title {
  margin-bottom: 10px;
}

/*map*/
#mapid {
  height: calc(80vh);
  width: 50%;
}

.locations-wrapper {
  width: 100%;
  display: flex;
}

.block-locations {
  width: 50%;
  margin-right: 20px;
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
}

.location {
  border-bottom: 2px solid #cacaca;
  padding: 0 10px;
  margin-bottom: 30px;

  .store-title {
    color: #6d6666;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
  }

  .store-address {
    font-size: 13px;
    text-align: center;
    margin-bottom: 16px;
  }
}

.working-hours {
  font-size: 11px;
}

.working-hours .working-hours-title,
.leaflet-popup-content .popup-working-hours .popup-working-hours-title {
  display: flex;
}

.working-hours .working-hours-title .title-days,
.working-hours .working-hours-title .title-hours {
  flex-grow: 1;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.working-hours .working-hours-day {
  display: flex;
  margin: 5px 0;
}

.working-hours .working-hours-day .wh-day,
.working-hours .working-hours-day .wh-time {
  width: 50%;
  margin-left: 5px
}

.popup-working-hours-title .popup-title-days,
.popup-working-hours-title .popup-title-hours {
  flex-grow: 1;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.leaflet-popup-content-wrapper {
  width: 170px;

  .leaflet-popup-content {
    margin: 13px auto;

    .popup-store-title {
      color: #6d6666;
      font-weight: 600;
      text-align: center;
      font-size: 13px;
      margin: 0 0 5px 0;
    }

    .popup-store-address {

      text-align: center;
      margin-bottom: 5px;
    }
  }
}

.popup-working-hours {
  font-size: 9px;

  .popup-working-hours-day {
    display: flex;
  }
}

.popup-wh-day, .popup-wh-time {
  width: 50%;
  padding: 1px;
  margin-left: 15px;
}

.disp-block {
  display: block;
}

/*Use this in js to bind the marker with the location*/
.selected {
}

@media (min-width: 576px) {
  .block-locations {
    font-size: 22px;
  }

  .location .store-address {
    font-size: 15px;
  }

  .working-hours {
    font-size: 16px;
  }

  .popup-wh-day, .popup-wh-time {
    margin-left: 25px;
  }

  .leaflet-popup-content-wrapper {
    width: 220px;
  }

  .leaflet-popup-content .popup-store-title {
    font-size: 15px;
  }

  .popup-working-hours {
    font-size: 12px;
  }
}

@media (min-width: 767px) {
  .block-locations {
    width: 30%;
  }

  #mapid {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .block-locations {
    width: 20%;
  }

  #mapid {
    width: 80%;
  }

  .leaflet-popup-content-wrapper {
    width: 270px;
  }

  .leaflet-popup-content .popup-store-title {
    font-size: 18px;
  }

  .leaflet-popup-content .popup-store-address {
    font-size: 14px;
  }

  .popup-working-hours {
    font-size: 15px;
  }
}
